<body background="bkgnd.gif" link="#3737eb" bgcolor="white">

<p align="center">
<font SIZE="+1" color="#a53737"><b>ThtmlLite HTML Component,
Version 7.7</b></font><br>

<font Face="Arial" size="-1">
<font color="#733737" Size="-2">Copyright 1995-2006 by L. David Baldwin,
<a href="#copyright">See below</a>
</font>

<p>

<table align=center width=80% >
<tr><td valign=top>
    <a href="#What" >What is the ThtmlLite Component?</a><br>
    <a href="#InstallViewer" >Installing the Component</a><br>
    <a href="#InstallHelp" >Installing the Help File</a><br>
</td><td valign=top>
    <a href="#Addresses" >Contacts and Addresses</a><br>
    <a href="#copyright" >Copyright</a><br>
</table>

<p align="center">
[Read Me]
<a href="samples.htm">[HTML Samples]</a>
<a href="support.htm">[Support]</a>
<a href="tabletut.htm">[Table Tutorial]</a>
<a href="whatsnew.htm">[What's New]</a>

<hr color="#808080" size=2 width=75%>

<FONT SIZE=2 FACE="Arial" >

<h4><font color="#373773"><a name="What">What is the ThtmlLite Component?</a></font></h4>

The <b>ThtmlLite</b> component provides an easy way to display HTML documents in a Borland Delphi program.

<p><b>ThtmlLite</b> is similar to the Professional <b>ThtmlViewer</b>,
<b>TFrameViewer</b> and <B>TFrameBrowser</B>
components but has reduced capabilities.  It is designed for applications
where the full capabilities are not needed.  There is no charge for its use in any application.
Source code is provided.

<p>
The <b>ThtmlLite</b> features include:
<p>
<ul>
  <li>Support for Delphi versions  3, 4, 5, 6, 7, 2005, and 2006
  <li>Images Bitmap,  GIF, JPEG, and PNG <a href="#pngsupport">(read fine print)</a>
      <ul>
      <li><img src="AGif2.gif" align="middle" width="181" height="32" Alt="Animated GIFs">
      <li>Transparent images
      <li>Image caching
      <li>Left and right floating images
      <li>Image sizing attributes
      <li>Client side image maps
      </ul>
  <li>Large HTML files
  <li>HTML Tables
  <li>HTML Forms
  <li>Font sizes, styles, and colors with HTML tags or default settings
  <li>Background colors and images
  <li>Text search
  <li>Copy to clipboard
  <li>Subscripts and superscripts
 </ul>
<p>
The following additional features can be found in the Professional <b>ThtmlViewer</b>,
 <b>TFrameViewer</b> and <B>TFrameBrowser</B> components:
<p>
  <ul>
  <li>Cascading Stylesheet support
  <li>Support for Frames
  <li>Formatted printing of the HTML document
  <li>PNG image support
  </ul>
<p>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a Name="InstallViewer">Installing The ThtmlLite Component</a></font></h4>

<P>If you are installing for more than one version of Delphi, use separate directories for the installations. </P>
<P>Installation problems are almost always due to old or incorrect files being accessed. Make sure that the
Library Path or Search Path does not point to the directory of any old HTML component files. The Library Path can
be edited from the <B>Tools|Environment</B> Options dialog, <B>Library</B> tab. The Search Path from the
<B>Project|Options</B> dialog, <B>Directories/Conditionals</B> tab.</P>
<P>Delete all DCU files generated with previous installations. </P>
<P>The Register procedures in <CODE>HTMLLITE.PAS</CODE> is set to place the <B>ThtmlLite</B> on the palette page tab named <B>Samples</B>. It can be relocated later from
the IDE if desired. </P>

<OL>
<LI>Choose <B>File|Open...</B> from the main menu. Browse through the dialog to find
<CODE>dclLV3|4|5|6|7|2005.dpk</CODE> (by default in the <CODE>\ThtmlLite\Package</CODE> directory). <P> </P>
</LI>
<LI>Click <B>Open</B> and in the ensuing dialog, press <B>Compile</B> and then <B>Install</B>. <P> </P>
</LI>
<LI>When using the HTML components, include the <CODE>\ThtmlLite\Package</CODE> directory in the searchpath. The
searchpath can be edited by choosing <B>Project|Options|Directories|Conditionals</B> from the main menu. <P> </P>
</LI>
<LI><IMG SRC="Import1.gif" ALIGN="top">Make sure that the Library Path string does not point to the directory of
any old ThtmlLite component files. The Library Path string can be edited from the <B>Tools|Environment</B> Options
dialog, <B>Library</B> tab.</LI>
</OL>
<p>

<hr color="#808080" size=2 width=95%>
<h4><font color="#373773"><a Name="installHelp">Installing the Help File</a></font></h4>

  The file <code>HTMLLITE.HLP</code> will supply context sensitive help for the
  ThtmlLite component.
<p>
<OL>
<LI>Remove any old <CODE>HTMLLITE.HLP</CODE> and <CODE>HTMLLITE.CNT</CODE> files from the
<CODE>BORLAND\DELPHIX\HELP</CODE> directory. It's no longer necessary to move the new files to this directory. <P>
</p>
</LI>
<LI>Edit the <CODE>DELPHI.CNT</CODE> file (in the <CODE>BORLAND\DELPHIX\HELP</CODE> directory. Load the file into
an editor and add the following line at the end: <PRE>
   :include HTMLLITE.CNT
</PRE>
You'll find other similar lines already there.<p>
</P>
</LI>
<li>For Delphi 6, add the same line to the <CODE>DEL6VCL.CNT</CODE> file.
</li>
<LI>For Delphi 7, edit both the <CODE>D7.CNT</CODE> and <CODE>D7VCL.CNT</code> files (in the <CODE>BORLAND\DELPHI7\HELP</CODE> directory. Load the files into
an editor and add the following line at the end: <PRE>
   :include HTMLLITE.CNT
</PRE>
You'll find other similar lines already there.<p>
</P>
</LI>
</ol>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a Name="Addresses">Contacts and Addresses</a></font></h4>
<blockquote>
<h6>Note: Address and Telephone changes frquently.  Please
verify by email.</h6>
</blockquote>

<blockquote><dl>

      <dt><B><a name="Sales Address">Sales and Technical</B>
            <dd><i>
                  David Baldwin,<br>
                  22 Simeon Wilson Rd.,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Summer<br>
                  Amherst, New Hampshire 03031, USA<br>
                  Phone: (603) 672-2531<br>
                  Fax: (815) 301-1799<br>
                  <br>
                  144 Sands Point Dr.,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Winter<br>
                  Tierra Verde, FL 33715, USA<br>
                  Phone: (727) 906-9072<br>
                  Fax: (815) 301-1799<br>
                  <br>
                  Internet: <a href="mailto:davidbaldwin@pbear.com">davidbaldwin@pbear.com</a><br>
                  World Wide Web: <a href="http://www.pbear.com/">http://www.pbear.com/</a>
            </i>
</dl></blockquote>
<hr color="#808080" size=2 width=95%>
<center>
<p><a Name="Copyright"><font size=3 color="#373773">
              <b> Copyright (c) 1995-2005 by</b></font><br>
                        L. David Baldwin</a></p>
</center>
<p>Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation
the rights to use, copy, modify, merge, publish, distribute, sublicense,
and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

<p>The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.

<p>Note that the source code module, <b>litegif1.pas</b>, has its own
copyright located in that module.

<hr color="#808080" size=2 width=95%>
<h4><a Name="pngsupport"><font color="#373773">
               PNG Image Support</font></a></h4>
<p>PNG image support is dependent on the <code>gdiplus.dll</code> being present.
This DLL is present on all WinXP systems and has often been loaded on other systems
by other applications.  If it is not present on your system, it can be downloaded 
(at no charge)  <a href="http://www.microsoft.com/downloads/details.aspx?familyid=6A63AB9C-DF12-4D41-933C-BE590FEAA05A&displaylang=en">here</a>.

</body>
</html>

