<body background="bkgnd.gif" link="#3737eb" bgcolor="white">

    <center><font color="#a53737" Size="4"><b>Table Tutorial</b></font></center>
<font size=2>

<Table width=99%>
  <tr valign=top>
  <td><img src="table.bmp" transp width=95 height=55 Alt="table.bmp"></td>
  <td>
   <a href=#Simple2x2 >Simple 2 x 2 table</a><br>
   <a href=#Another2x2 >Another 2 x 2 table</a><br>
   <a href=#RowColSpan >Rowspan and Colspan attributes</a><br>
   <a href=#Headings >Row and Column Headings</a><br>
  </td>
  <td >
   <a href=#CellAlign >Cell Alignment</a><br>
   <a href=#CellWidth >Cell width control</a><br>
   <a href=#Centering >Centering Tables</a><br>
   <a href=#Centering >Table Captions</a><br>
  </td>
  <td >
   <a href=#CellSpacing >Cell Spacing</a><br>
   <a href=#CellPadding >Cell Padding</a><br>
   <a href=#Background >Cell Background Colors</a><br>
   <a href=#Borderless >Borderless Tables</a><br>
</table>
</font>

<font face="Arial" size="2">
<p align="center">
<a href="readme.htm">[Read Me]</a>
<a href="samples.htm">[HTML Samples]</a>
<a href="support.htm">[Support]</a>
[Table Tutorial]
<a href="whatsnew.htm">[What's New]</a>
</font>

<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name="Simple2x2">Simple 2 x 2 table</a></font></h4>
   <table border>
   <tr>
     <td>1</td>
     <td>2</td>
   <tr>
     <td>3</td>
     <td>4</td>
   </table>
   <pre><code>
   &lt;table border&gt;
   &lt;tr&gt;
     &lt;td&gt;1&lt;/td&gt;
     &lt;td&gt;2&lt;/td&gt;
   &lt;tr&gt;
     &lt;td&gt;3&lt;/td&gt;
     &lt;td&gt;4&lt;/td&gt;
   &lt;/table&gt;</code></pre>
<hr color="#808080" size=2 width=95%>
<h4><font color="#373773"><a name=Another2x2>Another 2 x 2 table</a></font></h4>
<table border>
<tr>
  <td>1</td>
  <td>2</td>
<tr>
  <td>3</td>
  <td>Cells expand<br>
       to fit</td>
</table>
<pre><code>
&lt;table border&gt;
&lt;tr&gt;
  &lt;td&gt;1&lt;/td&gt;
  &lt;td&gt;2&lt;/td&gt;
&lt;tr&gt;
  &lt;td&gt;3&lt;/td&gt;
  &lt;td&gt;Cells expand&lt;br&gt;
       to fit&lt;/td&gt;
&lt;/table&gt;</code></pre>
<hr color="#808080" size=2 width=95%>
<h4><font color="#373773"><a name=RowColSpan>Rowspan and Colspan attributes</a></font></h4>
<table border>
<tr>
  <td>1</td>
  <td>2</td>
  <td>3</td>
<tr>
  <td>4</td>
  <td rowspan=2 colspan=2>
    Rowspan and Colspan attributes allow cells to
    occupy more than one row or column
  </td>
<tr>
  <td>5</td>
</table>
<pre><code>
&lt;table border&gt;
&lt;tr&gt;
  &lt;td&gt;1&lt;/td&gt;
  &lt;td&gt;2&lt;/td&gt;
  &lt;td&gt;3&lt;/td&gt;
&lt;tr&gt;
  &lt;td&gt;4&lt;/td&gt;
  &lt;td rowspan=2 colspan=2&gt;
    Rowspan and Colspan attributes allow cells to
    occupy more than one row or column
  &lt;/td&gt;
&lt;tr&gt;
  &lt;td&gt;5&lt;/td&gt;
&lt;/table&gt;</code></pre>
<hr color="#808080" size=2 width=95%>
<h4><font color="#373773"><a name=Headings>Rows and/or Columns may have headings</a></font></h4>
<table border>
<tr>
   <td></td>
   <th colspan=3>Days of Week</th>
<tr>
   <td></td>
   <th>Monday</th>
   <th>Tuesday</th>
   <th>Wednesday</th>
<tr>
   <th>Week 1</th>
   <td>1</td>
   <td>2</td>
   <td>3</td>
<tr>
   <th>Week 2</th>
   <td>4</td>
   <td>5</td>
   <td>6</td>
</table>

<code><pre>
&lt;table border&gt;
&lt;tr&gt;
   &lt;td&gt;&lt;/td&gt;
   &lt;th colspan=3&gt;Days of Week&lt;/th&gt;
&lt;tr&gt;
   &lt;td&gt;&lt;/td&gt;
   &lt;th&gt;Monday&lt;/th&gt;
   &lt;th&gt;Tuesday&lt;/th&gt;
   &lt;th&gt;Wednesday&lt;/th&gt;
&lt;tr&gt;
   &lt;th&gt;Week 1&lt;/th&gt;
   &lt;td&gt;1&lt;/td&gt;
   &lt;td&gt;2&lt;/td&gt;
   &lt;td&gt;3&lt;/td&gt;
&lt;tr&gt;
   &lt;th&gt;Week 2&lt;/th&gt;
   &lt;td&gt;4&lt;/td&gt;
   &lt;td&gt;5&lt;/td&gt;
   &lt;td&gt;6&lt;/td&gt;
&lt;/table&gt;  </pre></code>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name=CellAlign>Alignment in cells can be controlled</a></font></h4>
<table border>
<tr>
   <td></td>
   <th colspan=3>Alignment Attributes, Align and VAlign</th>
<tr>
   <th>Vertical<br>Alignment</th>
   <td valign=top>Top</td>
   <td valign=middle>Middle</td>
   <td valign=bottom>Bottom</td>
<tr>
   <th>Horizontal<br>Alignment</th>
   <td align=left>Left</td>
   <td align=center>Center</td>
   <td align=right>Right</td>
</table>

<code><pre>
&lt;table border&gt;
&lt;tr&gt;
   &lt;td&gt;&lt;/td&gt;
   &lt;th colspan=3&gt;Alignment Attributes, Align and VAlign&lt;/th&gt;
&lt;tr&gt;
   &lt;th&gt;Vertical&lt;br&gt;Alignment&lt;/th&gt;
   &lt;td valign=top&gt;Top&lt;/td&gt;
   &lt;td valign=middle&gt;Middle&lt;/td&gt;
   &lt;td valign=bottom&gt;Bottom&lt;/td&gt;
&lt;tr&gt;
   &lt;th&gt;Horizontal&lt;br&gt;Alignment&lt;/th&gt;
   &lt;td align=left&gt;Left&lt;/td&gt;
   &lt;td align=center&gt;Center&lt;/td&gt;
   &lt;td align=right&gt;Right&lt;/td&gt;
&lt;/table&gt; </pre></code>
<hr color="#808080" size=2 width=95%>

<a name="Background">
<h4><font color="#373773">Table cells can contain just about anything<br>
    Background colors can be added</font></h4></a>
<table border>
<tr align=center>
  <td><img src="glass.bmp"><br>
      Images</td>
  <td bgcolor="#ffcdcd"><a href="#Simple2x2">2 x 2 Table</a><br>
      Hotspots</td>
<tr align=center>
  <td>Some<br>Text</td>
  <td><table border bordercolor="#37ffcd"><caption>Another table</caption>
        <tr>
          <td>1</td>
          <td>2</td>
          <td bgcolor="#D9D9F3">3</td>
        <tr>
          <td>4</td>
          <td>5</td>
        </table></td>
</table>


<code><pre>
&lt;table border&gt;
&lt;tr align=center&gt;
  &lt;td&gt;&lt;img src=&quot;glass.bmp&quot;&gt;&lt;br&gt;
      Images&lt;/td&gt;
  &lt;td bgcolor="#ffcdcd"&gt;
      &lt;a href=&quot;#TableContents&quot;&gt;Table Contents&lt;/a&gt;&lt;br&gt;
      Hotspots&lt;/td&gt;
&lt;tr align=center&gt;
  &lt;td&gt;Some&lt;br&gt;Text&lt;/td&gt;
  &lt;td&gt;&lt;table border bordercolor="#37ffcd"&gt;
  &lt;caption&gt;Another table&lt;/caption&gt;
        &lt;tr&gt;
          &lt;td&gt;1&lt;/td&gt;
          &lt;td&gt;2&lt;/td&gt;
          &lt;td bgcolor="#D9D9F3"&gt;3&lt;/td&gt;
        &lt;tr&gt;
          &lt;td&gt;4&lt;/td&gt;
          &lt;td&gt;5&lt;/td&gt;
        &lt;/table&gt;&lt;/td&gt;
&lt;/table&gt;</pre></code>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name=CellWidth>Cell widths can be specified as a percentage of table width and
    table width as a percentage of window width</a></font></h4>
<table border width=75%>
<tr>
   <td width=20%>20%</td>
   <td width=50%>50%</td>
   <td width=15%>15%</td>
   <td width=15%>15%</td>
</table>

<code><pre>
&lt;table border width=75%&gt;
&lt;tr&gt;
   &lt;td width=20%&gt;20%&lt;/td&gt;
   &lt;td width=50%&gt;50%&lt;/td&gt;
   &lt;td width=15%&gt;15%&lt;/td&gt;
   &lt;td width=15%&gt;15%&lt;/td&gt;
&lt;/table&gt; </pre></code>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name=Centering>Tables may be centered and have a caption either on the top or on the
bottom.</a></font></h4>
<table border width=75% align=center>
<caption align=bottom><h3>Figure 1</h3>
         Illustration of Centered Table with a Width of 75%
</caption>
<tr>
   <td width=20%>20%</td>
   <td width=50%>50%</td>
   <td width=15%>15%</td>
   <td width=15%>15%</td>
</table>

<code><pre>
&lt;table border width=75% align=center&gt;
&lt;caption align=bottom&gt;&lt;h3&gt;Figure 1&lt;/h3&gt;
         Illustration of Centered Table with a Width of 75%
&lt;/caption&gt;
&lt;tr&gt;
   &lt;td width=20%&gt;20%&lt;/td&gt;
   &lt;td width=50%&gt;50%&lt;/td&gt;
   &lt;td width=15%&gt;15%&lt;/td&gt;
   &lt;td width=15%&gt;15%&lt;/td&gt;
&lt;/table&gt;</pre></code>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name=CellSpacing>The CellSpacing attribute controls the spacing between
    table cells.</a></font></h4>
<table width=50% align=center>
<tr valign=top align="center"><td>
   <table border CellSpacing=0>
   <Caption>CellSpacing of 0</caption>
   <tr><td>1</td>
       <td>2</td>
   <tr><td>3</td>
       <td>4</td>
   </table></td>

   <td>

   <table border CellSpacing=10>
   <Caption>CellSpacing of 10</caption>
   <tr><td>1</td>
       <td>2</td>
   <tr><td>3</td>
       <td>4</td>
   </table>
</table>

<table align=center>
<tr valign=top><td>
   <code><Pre>   &lt;table border
   CellSpacing=0&gt;
   &lt;Caption&gt;
   CellSpacing of 0
   &lt;/caption&gt;
   &lt;tr&gt;&lt;td&gt;1&lt;/td&gt;
       &lt;td&gt;2&lt;/td&gt;
   &lt;tr&gt;&lt;td&gt;3&lt;/td&gt;
       &lt;td&gt;4&lt;/td&gt;
   &lt;/table&gt;</pre></code></td>

   <td>
    <code><pre>   &lt;table border
   CellSpacing=10&gt;
   &lt;Caption&gt;
   CellSpacing of 10
   &lt;/caption&gt;
   &lt;tr&gt;&lt;td&gt;1&lt;/td&gt;
       &lt;td&gt;2&lt;/td&gt;
   &lt;tr&gt;&lt;td&gt;3&lt;/td&gt;
       &lt;td&gt;4&lt;/td&gt;
   &lt;/table&gt; </pre></code>
</table>

<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name=CellPadding>The CellPadding attribute controls the padding around
    table cells.</a></font></h4>
<table width=50% align=center>
<tr valign=top align=center><td>
   <table border CellPadding=0>
   <Caption>CellPadding of 0</caption>
   <tr><td>1</td>
       <td>2</td>
   <tr><td>3</td>
       <td>4</td>
   </table></td>

   <td>

   <table border CellPadding=10>
   <Caption>CellPadding of 10</caption>
   <tr><td>1</td>
       <td>2</td>
   <tr><td>3</td>
       <td>4</td>
   </table>
</table>

<table align=center width="50%">
<tr valign=top><td>
   <code><Pre>   &lt;table border
   CellPadding=0&gt;
   &lt;Caption&gt;
   CellPadding of 0
   &lt;/caption&gt;
   &lt;tr&gt;&lt;td&gt;1&lt;/td&gt;
       &lt;td&gt;2&lt;/td&gt;
   &lt;tr&gt;&lt;td&gt;3&lt;/td&gt;
       &lt;td&gt;4&lt;/td&gt;
   &lt;/table&gt;</pre></code></td>

   <td>
    <code><pre>   &lt;table border
   CellPadding=10&gt;
   &lt;Caption&gt;
   CellPadding of 10
   &lt;/caption&gt;
   &lt;tr&gt;&lt;td&gt;1&lt;/td&gt;
       &lt;td&gt;2&lt;/td&gt;
   &lt;tr&gt;&lt;td&gt;3&lt;/td&gt;
       &lt;td&gt;4&lt;/td&gt;
   &lt;/table&gt; </pre></code>
</table>
<hr color="#808080" size=2 width=95%>

<h4><font color="#373773"><a name=Borderless>Borderless tables</a></font></h4>

Borderless tables can be very useful for formatting documents.  Tables are used
in several places in this document to place items side by side.  For instance,
the Contents window above is divided into four columns using a
Table.
<p>
<table align=center>
<tr><td><img src="wmelon.bmp" transp width=100 height=80 Alt="wmelon.bmp"></td>
    <td>Watermelon<br>with seeds</td>
</table>

<p><center>Text can be placed at the side of an image.</center>

<center>
<code><pre>
&lt;table align=center&gt;
&lt;tr&gt;&lt;td&gt;&lt;img src=&quot;wmelon2.bmp&quot;&gt;&lt;/td&gt;
    &lt;td&gt;Watermelon&lt;br&gt;with seeds&lt;/td&gt;
&lt;/table&gt;
</pre></code>
</center>

</body>

